.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin-left: 40px;
  color: #066dbb;
  font-size: 20px;
  font-weight: 600;
}

.list {
  padding: 20px;
}

.list:hover {
  background: #f6f6f6;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #555666
}

.description {
  color: #999aaa;
  margin-top: 6px;
  line-height: 22px
}

.createDate {
  font-color: #5f6471;
  line-height: 24px
}